<!-- views/form.ejs -->
<!DOCTYPE html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- -->
<title>View Application | Westpac</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Header section with logo -->
    <div class="w-screen py-2 flex flex-row justify-between items-center">
        <!-- Left-aligned Image -->
        <img class="ml-0 max-w-none px-5" src="/images/logo-wbg-multibrand-large.svg" alt="Logo"/>
    
        <!-- Right-aligned Text -->
        <div class="flex flex-row items-center px-5 divide-x">
            <div></div>
            <h3 class="mr-0 text-2xl font-semibold uppercase w-full px-5">► <%= username %></h3>
        </div>
    </div>
    
    <hr>

    <!-- Hero Form section -->   
    <div class="container mx-auto flex flex-col mt-20 bg-white shadow-md rounded-lg p-8 space-y-6 border-t border-red">
        <!-- Header Section -->
        <h1 class="text-4xl font-extrabold uppercase text-gray-800 border-b pb-4">Application Details</h1>
        <p class="text-gray-600 text-lg">
            We are reviewing the application below for you. Thank you for your patience!
        </p>
    
        <!-- Details Section -->
        <div class="space-y-8">
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">Application Name</h3>
                <p id="applicationName" class="text-gray-600 text-lg italic"><%= application.application_name %></p>
            </div>
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">Application Status</h3>
                <p id="applicationStatus" class="text-gray-600 text-lg italic"><%= application.application_status %></p>
            </div>
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">SSN</h3>
                <p id="ssn" class="text-gray-600 text-lg italic"><%= application.ssn %></p>
            </div>
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">Account Number</h3>
                <p id="accountNumber" class="text-gray-600 text-lg italic"><%= application.bank_account %></p>
            </div>
            <hr>
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">Full Name</h3>
                <p id="applicationStatus" class="text-gray-600 text-lg italic"><%= application.full_name  %></p>
            </div>
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">Phone Number</h3>
                <p id="ssn" class="text-gray-600 text-lg italic"><%= application.phone_number  %></p>
            </div>
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">Address</h3>
                <p id="accountNumber" class="text-gray-600 text-lg italic"><%= application.address %></p>
            </div>
        </div>
    </div>
    

    
    <div class="w-screen bg-white fixed bottom-0 flex flex-col items-center">
        <div class="container w-full py-3">
            <div class="flex flex-row py-3 divide-x">
                <div class="flex flex-col px-6"> 
                    <ul>
                        <li>
                            <a class="text-red-600" href="/">> About</a>    
                        </li>
                        <li>
                            <a class="text-red-600" href="/">> Contact Us</a>   
                        </li>
                        <li>
                            <a class="text-red-600" href="/">> Home Loan</a>   
                        </li>
                    </ul>
                </div>

                <div class="flex flex-col px-6">
                    <ul>
                        <li>
                            <a class="text-red-600" href="/">> Social Media</a>   
                        </li>
                        <li>
                            <a class="text-red-600" href="/">> Terms of Conditions</a>   
                        </li>
                        <li>
                            <a class="text-red-600" href="/">> Privacy Policy</a>   
                        </li>
                    </ul>
                </div>
            </div>
            <hr > 
            <footer>
                <div class="flex flex-row items-center justify-between py-5">
                    <div>
                        Our site and your transactions are secure. You can read our
                        <a class="text-red-600" href="https://www.westpac.com.au">security information.</a><br>
                        © 2024 Westpac Banking Corporation ABN 33 007 457 141 AFSL and Australian credit license 233714
                    </div>
                    
                    <div ><img class="max-w-full" src="/images/logo-wbg-multibrand-large.svg"/></div>
                </div>
            </footer>
        </div>
    </div>

    
</body>
</html>
 